.profile{
    width: 95%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.profile:hover{
    background-color: var(--hoverRange);
    border-radius: 8px;
    transition: all 0.3s ease; 
}
.profile-title{
    font-size: 16x;
    line-height: 1rem;
}
.ti-profile{
    width: 3rem;
    height: 3rem;
    margin-left: 4px;
}