.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.user-avt{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.user-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}