.home{
    width: 95%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16x;
}
.home:hover {
    background-color: var(--hoverRange);
    border-radius: 8px;
    transition: all 0.3s ease;     
}

.home-title{
    line-height: 1rem;
}
box-icon[name=home-alt-2]{
    line-height: 3.5rem;
    margin-right: 1rem;
    margin-left: 4px;
}
