.logout{
    width: 95%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
}
.logout:hover{
    background-color: var(--hoverRange);
    border-radius: 8px;
    transition: all 0.3s ease; 
}
.logout:hover box-icon[name=log-out-circle]{
    animation: fade-left 1s ease-out;
}
.logout-title{
    line-height: 1rem;
}
box-icon[name=log-out-circle]{
    line-height: 3.7rem;
    margin-right: 1rem;
    margin-left: 4px;
}