.new-post{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--cardColor);
    border-radius: 1rem;
    gap: 1rem;
}
.post-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 0.5rem;
}
  
.post-content > img {
    max-width: 60%;
    max-height: 100%;
    object-fit: contain;
}
.post-communicate{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    cursor: pointer;
}
.post-communicate>img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
}
.post-communicate>img:hover{
    background-color: var(--inputColor);
}
.post-likes{
    font-size: 13px;
    color: var(--gray);
}